node_modules
# Keep environment variables out of version control
.env
coverage
prisma/migrations
prisma/test.db
prisma/test.db-journal

#Ignore cursor AI rules
.cursor/

# SQLite database files
./test.db
./test.db-journal